.home-page {
    padding: 50px;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
}

/* Product */
.product {
    padding: 15px;
    display: flex;
    flex-direction: column;
    background: gainsboro;
    border: 1px solid rgb(190, 190, 190);
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
    justify-content: space-between;
    gap: 10px;
}
.product:hover {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.4);
  transform: translateY(-4px); 
}

.product-action {
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: green;
}
.addtocart-btn {
    margin-left: auto;
    height: 40px;
    width: 100%;
    max-width: 150px;
    border-radius: 5px;
    border: 1px solid #444444;
    background: gray;
    color: white;
}