.page-body {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.pagination-actions {
    display: flex;
    gap: 20px;
    justify-content: center;
}

.prev-page, .next-page {
    padding: 5px 15px;
    border: 2px solid gray;
    border-radius: 15px;
}