.panel-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 998;
}

.panel-backdrop.open {
  opacity: 1;
  visibility: visible;
}

/* === Cart Panel === */
.cart-panel {
  position: fixed;
  top: 0;
  right: 0;
  width: 500px;
  max-width: 100%;
  height: 100vh;
  padding: 5px 10px;
  background-color: #eeeeee;
  box-shadow: -5px 0 15px rgba(0, 0, 0, 0.1);
  z-index: 999;
  display: flex;
  flex-direction: column;
  
  /* Hide off-screen by default */
  transform: translateX(100%); 
  transition: transform 0.3s ease-in-out;
}

.cart-panel.open {
  transform: translateX(0);
}

/*  Cart Header */
.cart-header {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.close-panel {
    max-width: 10%;
    padding: 0 10px;
    background: red;
    color: white;
}

/* Cart Body */
.cart-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    flex: 1;
    min-height: 0;
    border-top: 1px solid black;
}
.cart-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    overflow: scroll;
    min-height: 0;
    gap: 10px;
    scrollbar-width: none;
}

/* Cart Item */
.cart-item {
    position: relative;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    padding: 10px;
    background: white;
}
.item-img {
    width: 120px;
    height: 80px;
    background: rgb(230, 230, 230);
}
.item-detail {
    display: flex;
    flex-direction: column;
    width: 200px;
    overflow: hidden;
}
.item-detail h3 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}

/* Quantity Container */
.quantity-container {
    display: flex;
    gap: 10px
}
.quantity-btn {
    padding: 0;
}

.remove-item {
    background: red;
    padding: 3px;
}

/* Total Container */
.total-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.clear-container{
    display: flex;
    justify-content: center;
}
.clear-container button {
    width: 50%;
    padding: 10px 20px;
    background-color: #e5a64c;
    color: white;
}
